html, body{
  background-color: black;
  color: white;
}

.container_ip_data{
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.container_ip_data > input {
  border-radius: 10px;
  border: 0px;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  display: block;

  bottom: 0;
  padding-bottom: 2%;

}

footer a{
  color: white;
  text-decoration: none;
}

footer p, footer h2{
  margin: 10px auto;
  max-width: 300px;
  text-align: center;
  color: white;
  text-decoration: none;
}

footer > #github > a{
  justify-content: center;
  display: flex;
  align-items: center;
}

footer > #github > a > img{
  margin: 3px;
}